@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: Inter, sans-serif;
  --font-mono: JetBrains Mono, monospace;
  --font-serif: Georgia, serif;
  --radius: 0.375rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.375rem;
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2656 0.0180 248.5074);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2656 0.0180 248.5074);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2656 0.0180 248.5074);
  --primary: oklch(0.7341 0.1296 177.5956);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.9222 0.0044 247.8716);
  --secondary-foreground: oklch(0.2656 0.0180 248.5074);
  --muted: oklch(0.9610 0.0033 247.8570);
  --muted-foreground: oklch(0.5491 0.0226 248.2392);
  --accent: oklch(0.7941 0.1406 177.5187);
  --accent-foreground: oklch(0.4385 0.1012 245.4822);
  --destructive: oklch(0.5714 0.2121 27.2502);
  --border: oklch(0.8827 0.0067 247.9010);
  --input: oklch(0.9222 0.0044 247.8716);
  --ring: oklch(0.7941 0.1406 177.5187);
  --chart-1: oklch(0.7341 0.1296 177.5956);
  --chart-2: oklch(0.4385 0.1012 245.4822);
  --chart-3: oklch(0.8278 0.1437 90.1142);
  --chart-4: oklch(0.6713 0.1418 313.7098);
  --chart-5: oklch(0.6160 0.1526 136.8907);
  --sidebar: oklch(0.9847 0.0004 247.8238);
  --sidebar-foreground: oklch(0.2342 0.0149 248.4634);
  --sidebar-primary: oklch(0.6728 0.1183 177.6896);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.8089 0.1347 178.7702);
  --sidebar-accent-foreground: oklch(0.3871 0.0875 245.1571);
  --sidebar-border: oklch(0.8432 0.0072 247.9112);
  --sidebar-ring: oklch(0.6728 0.1183 177.6896);
  --destructive-foreground: oklch(0.9848 0 0);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.05;
  --shadow-blur: 0.25rem;
  --shadow-spread: 0;
  --shadow-offset-x: 0;
  --shadow-offset-y: 0.125rem;
  --letter-spacing: 0;
  --spacing: 0.25rem;
  --shadow-2xs: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.03);
  --shadow-xs: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.03);
  --shadow-sm: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.05), 0 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.05), 0 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.05), 0 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.05), 0 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.05), 0 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.13);
  --tracking-normal: 0;
}

.dark {
  --background: oklch(0.2127 0.0127 248.4250);
  --foreground: oklch(0.9619 0 0);
  --card: oklch(0.2342 0.0149 248.4634);
  --card-foreground: oklch(0.9619 0 0);
  --popover: oklch(0.2127 0.0127 248.4250);
  --popover-foreground: oklch(0.9619 0 0);
  --primary: oklch(0.8089 0.1347 178.7702);
  --primary-foreground: oklch(0.2127 0.0127 248.4250);
  --secondary: oklch(0.3671 0.0139 248.2062);
  --secondary-foreground: oklch(0.9619 0 0);
  --muted: oklch(0.3170 0.0173 248.3715);
  --muted-foreground: oklch(0.7615 0.0139 248.0106);
  --accent: oklch(0.7941 0.1406 177.5187);
  --accent-foreground: oklch(0.8061 0.0809 240.0984);
  --destructive: oklch(0.6295 0.1785 23.7701);
  --border: oklch(0.3956 0.0153 248.2137);
  --input: oklch(0.3380 0.0125 248.1971);
  --ring: oklch(0.8089 0.1347 178.7702);
  --chart-1: oklch(0.8089 0.1347 178.7702);
  --chart-2: oklch(0.7688 0.0968 240.7429);
  --chart-3: oklch(0.8679 0.1168 91.4193);
  --chart-4: oklch(0.7643 0.1001 314.1792);
  --chart-5: oklch(0.7768 0.1518 136.1516);
  --sidebar: oklch(0.1904 0.0115 248.4313);
  --sidebar-foreground: oklch(0.9696 0 0);
  --sidebar-primary: oklch(0.8252 0.1265 179.8624);
  --sidebar-primary-foreground: oklch(0.1904 0.0115 248.4313);
  --sidebar-accent: oklch(0.7941 0.1406 177.5187);
  --sidebar-accent-foreground: oklch(0.7688 0.0968 240.7429);
  --sidebar-border: oklch(0.3657 0.0208 248.3964);
  --sidebar-ring: oklch(0.8252 0.1265 179.8624);
  --destructive-foreground: oklch(0.9848 0 0);
  --radius: 0.375rem;
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.3;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0;
  --shadow-offset-x: 0;
  --shadow-offset-y: 0.25rem;
  --letter-spacing: 0;
  --spacing: 0.25rem;
  --shadow-2xs: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.15);
  --shadow-xs: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.15);
  --shadow-sm: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.30), 0 1px 2px -1px hsl(0 0% 0% / 0.30);
  --shadow: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.30), 0 1px 2px -1px hsl(0 0% 0% / 0.30);
  --shadow-md: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.30), 0 2px 4px -1px hsl(0 0% 0% / 0.30);
  --shadow-lg: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.30), 0 4px 6px -1px hsl(0 0% 0% / 0.30);
  --shadow-xl: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.30), 0 8px 10px -1px hsl(0 0% 0% / 0.30);
  --shadow-2xl: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.75);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}